.showcase-header {
    border: 2px solid orange;
    text-align: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 40px;
}

.showcase-container {
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.search-form {
    padding: 15px;
}

.search-input {
    height: 45px;
    width: 50%;
    margin: auto;
    border-radius: 15px;
}

.search-button {
    height: 45px;
    margin-left: 5px;
}

search-input::focus {
    outline: none;
}

.tweet {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    background-color: lightskyblue;
    border-radius: 20px;
}

.tweet-extended-media {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tweet-profile-pic {
    margin-top: 20px;
    border-radius: 50%;
    display: flex;
    align-items: left;
}

.tweet-author {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
    margin-top: 20px;
}

.tweet-body {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    margin-left: 10px;
}

.tweet-metrics {
    display: flex;
    flex-direction: row;
    border: 2px solid burlywood;
    width: 20%;
    justify-content: space-evenly;
}
