/* @import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");

#header {
    font-family: "Oleo Script", cursive;
    border: 2px solid rgb(34, 34, 29);
    margin: auto;
    text-align: center;
    width: 60%;
    padding: 20px;
}
